Source: libxml-epp-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5), libxml-compare-perl (>= 0.03)
Build-Depends-Indep: perl (>= 5.10.0)
Maintainer: Sam Vilain <sam.vilain@catalyst.net.nz>
Standards-Version: 3.8.0
Homepage: http://search.cpan.org/dist/XML-EPP/

Package: libxml-epp-perl
Architecture: all
Depends: perl (>= 5.10.0), ${misc:Depends}, libmoose-perl (>= 0.54), libprang-perl (>= 0.10), libmoosex-timestamp-perl (>= 0.05)
Description: An implementation of the EPP XML language
 This module is an implementation of the XML protocol used by most
 major domain registries around the world.  This protocol was developed
 between 2002 and 2004, using XML standards which were at the time very
 new, such as XML Namespaces and XML Schema.  It saw several
 incompatible revisions until the 1.0 version which became RFC3730.
 .
 This module hopes to create a Free Software, complete, user-friendly
 and standards compliant interface to both client and server sides of
 the EPP specification.
 .
 This description was automagically extracted from the module by dh-make-perl.
